html
  head
    script(src='opencv.js')
    script(src='script.js')
  body
    canvas#input
    canvas#output

    #controls
        input#file(type='file')
        button(onclick='initiate();') intiate
        button(onclick='simplify();') simplify
        #info
